@font-face {
	font-family: "iconfont";
  src: url('../fonts/iconfont.ttf') format('truetype'); 
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uncheck:before {
  content: "\e607";
}

.icon-check-more:before {
  content: "\e60c";
}

.icon-uoload:before {
  content: "\e608";
}

.icon-map2:before {
  content: "\e60b";
}

.icon-drill:before {
  content: "\e60a";
}

.icon-cdz:before {
  content: "\e621";
}

.icon-invitation:before {
  content: "\e628";
}

.icon-novice:before {
  content: "\e603";
}

.icon-xiaoxi:before {
  content: "\e600";
}

.icon-zhifubao:before {
  content: "\e615";
}

.icon-refresh:before {
  content: "\e883";
}

.icon-weixin:before {
  content: "\e678";
}

.icon-agreement:before {
  content: "\e604";
}

.icon-cdxg:before {
  content: "\e64a";
}

.icon-check:before {
  content: "\e606";
}

.icon-kefu:before {
  content: "\e609";
}

.icon-close:before {
  content: "\e612";
}

.icon-charging:before {
  content: "\e70f";
}

.icon-sjt:before {
  content: "\e602";
}

.icon-erweima:before {
  content: "\e629";
}

.icon-map:before {
  content: "\e614";
}

.icon-customer:before {
  content: "\e640";
}

.icon-sousuo:before {
  content: "\e659";
}

.icon-shenqing:before {
  content: "\e601";
}

.icon-richscan:before {
  content: "\e605";
}

.icon-dingwei:before {
  content: "\e6cc";
}

.icon-register:before {
  content: "\e643";
}

.icon-person:before {
  content: "\e6cd";
}



*{-webkit-user-select:none;-ms-touch-select:none;}
html{width:100%;height:100%;}
body{background:#fff;margin:0;padding:0;width:100%;height:100%;font-size:16px;color:#6c6c6c;-webkit-touch-callout:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:none;}
article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}
hr{box-sizing:content-box;height:0;overflow:visible}
dl,ol,ul{margin:0;padding:0;}
ol ol,ol ul,ul ol,ul ul{margin-bottom:0}
ol,ul{list-style:none;}
b,strong{font-weight:bolder}
small{font-size:80%}
a{background-color:transparent;}
pre{margin-top:0;margin-bottom:1rem;overflow:auto;-ms-overflow-style:scrollbar}
figure{margin:0 0 1rem}
img{vertical-align:middle;border-style:none}
table{border-collapse:collapse}
th{text-align:inherit}
label{display:inline-block;margin-bottom:.5rem}
button{border-radius:0}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color}
button,input,optgroup,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}
button,input{overflow:visible}
button,select{text-transform:none}
[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=date],input[type=datetime-local],input[type=month],input[type=time]{-webkit-appearance:listbox}
textarea{overflow:auto;resize:vertical}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{outline-offset:-2px;-webkit-appearance:none}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
[hidden]{display:none!important}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-bottom:.5rem;font-weight: 400;line-height:1.2;color:inherit}
.button{font-size:18px;font-weight:normal;text-decoration:none;display:block;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#FFF;background-color:#FFCC33;border:1px solid #ECB100;padding:.5em 0em;margin:.5em .7em;-webkit-border-radius:5px;border-radius:5px;}
.button:active{outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);}
.button-waring{color:#666;background-color:#ebebeb;border-color:#e0e0e0;}
.button-select{font-size:14px;background-color:#CCCCCC;border:0;-webkit-border-radius:2px;border-radius:2px;}


.header-immersed.mui-bar-nav{height:64px;padding-top:20px;}
.iphonex .header-immersed.mui-bar-nav{height:84px!important;padding-top:40px!important;}
.header-immersed.mui-bar-nav ~ .mui-content{padding-top:64px;}
.header-immersed.mui-bar-nav ~ .mui-content .mui-pull-top-pocket{top:64px;}
.header-immersed{box-shadow:none;background-image:-moz-linear-gradient(135deg,rgb(240,130,0) 0%,rgb(255,117,70) 100%);background-image:-webkit-linear-gradient(135deg,rgb(240,130,0) 0%,rgb(255,117,70) 100%);background-image:-ms-linear-gradient(135deg,rgb(240,130,0) 0%,rgb(255,117,70) 100%);}
.header-immersed .mui-title,.header-immersed .mui-icon{color:#fff;}

.btn-submit{background-image:-moz-linear-gradient(135deg,rgb(240,130,0) 0%,rgb(255,117,70) 100%);background-image:-webkit-linear-gradient(135deg,rgb(240,130,0) 0%,rgb(255,117,70) 100%);background-image:-ms-linear-gradient(135deg,rgb(240,130,0) 0%,rgb(255,117,70) 100%);height:50px;line-height:50px;font-size:16px;color:#FFFFFF;text-align:center;box-shadow:none;}
.left{float:left;}
.right{float:right;}
.hide{display:none;}
.clearfix{clear:both;}

/*flex 布局*/
.flex{display:-webkit-box;display:-webkit-flex;display:flex;align-items:center;justify-content:center;}
.flex .flex-item{-webkit-box-flex:1;-webkit-flex:1;flex:1;}
.nodata{text-align:center;display:none;}
.nodata-img img{width:60%;margin:0 auto;margin-bottom:45px;display:block;}
.nodata-p{text-align:center;font-size:14px;}
.mui-pull-caption{font-weight:normal;}
.mui-table-view-divider{color:#FF6D22;border-bottom:2px solid #FF6D22;}
.mui-radio input[type=radio]:checked:before{color:#FF6D22;}
.fixed{width:100%;position:fixed;bottom:0;left:0;z-index:100;}
.logo{width:100%;text-align:center;}
input{-webkit-user-select:auto!important;}
.mui-toast-container{bottom:50%;min-width:100px;width: 100%;width: calc(100% - 20px);text-align: center;}
.mui-toast-container.mui-active{opacity:1;}
.mui-toast-message{display:inline-block;line-height:24px;word-break:break-all;overflow:hidden;overflow-x:hidden;overflow-y:auto;color:#fff;background-color:#000;filter:alpha(opacity=60);background-color:rgba(0,0,0,.6);border-radius:2px;}