<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>服务</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover"/>
	<meta name="misapplication-tap-highlight" content="no"/>
	<meta name="HandheldFriendly" content="true"/>
	<meta name="MobileOptimized" content="320"/>
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" href="../css/mui.min.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="../css/common.css" type="text/css" charset="utf-8"/>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../plugins/layer/layer.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../js/fastclick.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/common.js"></script>  
    <style type="text/css">
		
    </style>
</head>
<body>
	<header class="header header-immersed mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    	<h1 class="mui-title">服务</h1>
	</header>
	
	<div class="mui-content">
		<div class="button" onclick="connectDevice()">连接蓝牙设备</div>
	</div>
	<script type="text/javascript">
		var deviceId = 'D49A570D-44F6-EC37-71B1-5F52A07866BB';
		mui.plusReady(function(){
// 			plus.bluetooth.openBluetoothAdapter({
// 				success:function(e){
// 					console.log('open success: '+JSON.stringify(e));
// 				},
// 				fail:function(e){
// 					console.log('open failed: '+JSON.stringify(e));
// 				}
// 			});
			console.log(deviceId)
			getServices();
		});
		plusRefresh(function(){
			getServices();
		});
		function connectDevice(){
			// layer.msg('设备id：'+deviceId);
			plus.bluetooth.createBLEConnection({
				deviceId:deviceId,
				success:function(e){							
					layer.msg('设备：'+name+'--连接成功');				
				},
				fail:function(e){
					layer.msg('连接失败: '+JSON.stringify(e));
				}
			});
		}
		// 获取蓝牙设备的所有服务
		function getServices(){
			var services = [];
			plus.bluetooth.getBLEDeviceServices({
				deviceId:deviceId,
				success:function(e){
					var services = e.services;
					console.log('get services success: '+services.length);
					for(var i in services){
						console.log(i+': '+JSON.stringify(services[i]));
					}
				},
				fail:function(e){
					console.log('get services failed: '+JSON.stringify(e));
				}
			});
		}
	</script>
</body>
</html>