<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover"/>
	<meta name="misapplication-tap-highlight" content="no"/>
	<meta name="HandheldFriendly" content="true"/>
	<meta name="MobileOptimized" content="320"/>
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" href="../css/mui.min.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="../css/common.css" type="text/css" charset="utf-8"/>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../plugins/layer/layer.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../js/fastclick.js"></script>
	<script src="../js/artTemplate.min.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/common.js"></script>  
    <style type="text/css">
		.mui-bar .mui-btn-link{color: #fff;display: block;}
		.mui-row{padding: 15px;}
		.read-main{		
			border-radius: 10px;
			background: #a6a6a6;
			height: 200px;
			color: #fff;
			padding: 15px;
		}
    </style>
</head>
<body>
	<header class="header header-immersed mui-bar mui-bar-nav">
		<a class="mui-go-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    	<h1 class="mui-title">蓝牙测试</h1>
		<a class="mui-btn mui-btn-link mui-pull-right" onclick="closeConnection()">断开连接</a>
	</header>
	<div class="mui-main">
		<div class="mui-row">
			<p>deviceId:<span class="deviceId"></span></p>
		</div>
		<div class="mui-row">
			<button class="mui-btn mui-btn-danger left" onclick="startCharacteristicsNotify()">订阅通知</button>
			<button class="mui-btn mui-btn-warning right" onclick="readCharacteristics()">读取数据</button>
		</div>
		<div class="mui-row">
			<button class="mui-btn mui-btn-primary left" onclick="getServices()">获取蓝牙所有服务</button>
			<button class="mui-btn mui-btn-primary right" onclick="getCharacteristics()">获取服务中所有特征值</button>
		</div>
		<div class="mui-row">
			<input type="text" class="write-input mui-input-clear" placeholder="请输入发送数据">
			<button class="mui-btn mui-btn-primary right" onclick="writeCharacteristics()">写入数据</button>
		</div>		
		<div class="mui-row">	
			<div class="read-main">
				
			</div>
		</div>
		<div class="mui-row">	
			<div class="read-log"></div>
		</div>
	</div>
	<script type="text/javascript">
		var deviceId = 'D9:09:A7:5A:45:90';
		var name = '蓝牙测试';
		// var deviceId = 'D49A570D-44F6-EC37-71B1-5F52A07866BB';
		mui.init({
			beforeback: function() {
				if(deviceId){			
					closeConnection();
				}
			}
		});
		mui.plusReady(function () {
			name     = plusUtils.Storage.getItem('name');
			deviceId = plusUtils.Storage.getItem('deviceId');
			$(".mui-title").text(name);
			$(".deviceId").text(deviceId);
		    openBluetoothAdapter();
			
		})
		// 打开蓝牙模块
		function openBluetoothAdapter(){
			plus.bluetooth.openBluetoothAdapter({
				success:function(e){
					console.log('打开蓝牙成功: '+JSON.stringify(e));
					getServices();
					getCharacteristics();
				},
				fail:function(e){
					console.log('打开蓝牙失败: '+JSON.stringify(e));
				}
			});	
		}
		// 断开蓝牙设备
		function closeConnection(){
			plus.bluetooth.closeBLEConnection({
				deviceId:deviceId,
				success:function(e){
					layer.msg('断开蓝牙成功: '+JSON.stringify(e));
				},
				fail:function(e){
					console.log('断开蓝牙 failed: '+JSON.stringify(e));
				}
			});
		}	
		// 获取蓝牙设备的所有服务
		function getServices(){
			plus.bluetooth.getBLEDeviceServices({
				deviceId:deviceId,
				success:function(e){
					var services = e.services;
					console.log('get services success: '+services.length);
					for(var i in services){
						console.log(i+': '+JSON.stringify(services[i]));					
						getCharacteristics(services[i].uuid);
					}
				},
				fail:function(e){
					console.log('get services failed: '+JSON.stringify(e));
				}
			});
		}
		
		// var serviceId = '00001800-0000-1000-8000-00805F9B34FB';
		
		// 获取蓝牙设备指定服务中所有特征值
		function getCharacteristics(serviceId){
			plus.bluetooth.getBLEDeviceCharacteristics({
				deviceId:deviceId,
				serviceId:serviceId,
				success:function(e){
					var characteristics = e.characteristics;
					console.log('get characteristics success: '+characteristics.length);
					for(var i in characteristics){
						console.log(i+': '+JSON.stringify(characteristics[i]));
					}
				},
				fail:function(e){
					console.log('get characteristics failed: '+JSON.stringify(e));
				}
			});
		}
		
		var characteristicId = '0000FFF1-0000-1000-8000-00805F9B34FB'; // write notify
		// characteristicId = '0000FFF3-0000-1000-8000-00805F9B34FB'; // write read
// 		var value = new ArrayBuffer(8);
// 		var iv = new Int32Array(value);
// 		iv[0] = 120, iv[1] = 100;	
		function str2ab(str) {
			var buf = new ArrayBuffer(str.length);
			var bufView = new Uint8Array(buf);
			for (var i = 0, strLen = str.length; i < strLen; i++) {
				bufView[i] = str.charCodeAt(i)
			}
			return buf
		}
		// 写入低功耗蓝牙设备的特征值
		function writeCharacteristics(){
			var write = $(".write-input").val();
			plus.bluetooth.writeBLECharacteristicValue({
				deviceId:deviceId,
				serviceId:serviceId,
				characteristicId:characteristicId,
				value:str2ab(write),
				success:function(e){
					console.log('写入成功: '+JSON.stringify(e));
				},
				fail:function(e){
					console.log('写入失败: '+JSON.stringify(e));
				}
			});
		}
		
		// 读取低功耗蓝牙设备的特征值
		function readCharacteristics(){
			plus.bluetooth.readBLECharacteristicValue({
				deviceId:deviceId,
				serviceId:serviceId,
				characteristicId:characteristicId,
				success:function(e){
					console.log('读取成功: '+JSON.stringify(e));
				},
				fail:function(e){
					console.log('读取失败: '+JSON.stringify(e));
				}
			});
		}
		
		// 启用低功耗蓝牙设备特征值变化时的notify功能
		function startCharacteristicsNotify(){
			// 监听低功耗蓝牙设备的特征值变化 
			plus.bluetooth.onBLECharacteristicValueChange(function(e){
				log('监听低功耗蓝牙设备的特征值变化: '+JSON.stringify(e));
				/* var value = buffer2hex(e.value);
				console.log('value(hex) = '+value); */
				if(characteristicId == e.characteristicId){
					// 更新到页面显示
					$('.read-main').text('特征值变化:' + e.value);
				}
			});
			// 启用notify功能
			plus.bluetooth.notifyBLECharacteristicValueChange({
				deviceId:deviceId,
				serviceId:serviceId,
				characteristicId:characteristicId,
				success:function(e){
					var characteristics = e.characteristics;
					console.log('启用notify success: '+ JSON.stringify(e));
					for(var i in characteristics){
						console.log(i+': '+JSON.stringify(characteristics[i]));
					}
				},
				fail:function(e){
					console.log('启用notify failed: '+JSON.stringify(e));
				}
			});
		}
		var msgStr = '';
		function log(msg){		
			msgStr += msg;
			$('.read-log').text(msgStr);
		}
	</script>
</body>
</html>