<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover"/>
	<meta name="misapplication-tap-highlight" content="no"/>
	<meta name="HandheldFriendly" content="true"/>
	<meta name="MobileOptimized" content="320"/>
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" href="../css/mui.min.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="../css/common.css" type="text/css" charset="utf-8"/>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../plugins/layer/layer.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../js/fastclick.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/common.js"></script>  
    <style type="text/css">
		
    </style>
</head>
<body>
	<header class="header header-immersed mui-bar mui-bar-nav">
		<a class="mui-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    	<h1 class="mui-title">蓝牙连接</h1>
	</header>
	
	
	<div class="mui-content">

	</div>
	<script type="text/javascript">
		// 蓝牙设备id，可通过onBluetoothDeviceFound方法获取
		var deviceId = 'D49A570D-44F6-EC37-71B1-5F52A07866BB';
		// 蓝牙服务id，可通过getBLEDeviceServices方法获取
		var serviceId = '';
		// 蓝牙特征值id，可通过getBLEDeviceCharacteristics方法获取
		var characteristicId = '';
		// 要写入的数据
		var value = new ArrayBuffer(8);
		var iv = new Int32Array(value);
		iv[0] = 120, iv[2]=100;
		mui.init();		
		mui.plusReady(function(){
			plus.bluetooth.openBluetoothAdapter({
				success:function(e){
					console.log('open success: '+JSON.stringify(e));
					createBLEConnection();
				},
				fail:function(e){
					layer.msg("init failed")
					console.log('open failed: '+JSON.stringify(e));
				}
			});

		})
		function createBLEConnection(){
			plus.bluetooth.createBLEConnection({
				deviceId:deviceId,
				success:function(e){
					console.log('create connection success: '+JSON.stringify(e));
					layer.msg("连接成功")
				},
				fail:function(e){
					console.log('create connection failed: '+JSON.stringify(e));
					layer.msg("连接失败")
				}
			});
		}
	</script>
</body>
</html>