<!DOCTYPE html>  
<html>  
    <head>  
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover"/>
        <meta name="HandheldFriendly" content="true"/>
        <meta name="MobileOptimized" content="320"/>
        <title>蓝牙模块</title>
        <link rel="stylesheet" href="../css/mui.min.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="../css/common.css" type="text/css" charset="utf-8"/>
        <script src="../js/jquery-3.3.1.min.js"></script>
        <script src="../js/mui.min.js"></script>
        <script src="../js/base.js"></script>
        <script type="text/javascript" src="../js/common.js"></script>  
    </head>  

    <body>  
        <div class="mui-content-padded">  
            <input type="button" class="mui-btn" value="创建管理器" onclick="create()" />  
            <input type="button" class="mui-btn" value="扫描外设" onclick="scan()" />  
            <input type="button" class="mui-btn" value="清空输出内容" onclick="clearResult()" />  
            <div id='result'></div>  

        </div>  
    </body>  
	 <script type="text/javascript">  
	
	    mui.init();  
		mui.plusReady(){
			 var CBCentralManager = plus.ios.importClass("CBCentralManager");  
			var NSMutableArray = plus.ios.importClass("NSMutableArray");  
			var CBPeripheral = plus.ios.importClass("CBPeripheral");  
			var CBService = plus.ios.importClass("CBService");  
			var CBCharacteristic = plus.ios.importClass("CBCharacteristic");  
			var CBUUID = plus.ios.importClass("CBUUID");  
			 //1.中央外设管理器  
			var manager = null;  
			var peripherals = null;  
			var peripheral_delegate = null;
			  

				
			 //2. 扫描所有外设  
			function scan() {  
			    //alert('scaning....')  
			    // 实现代理  
			    var delegate = plus.ios.implements("CBCentralManagerDelegate", {  
			        "centralManagerDidUpdateState:": centralManagerDidUpdateState,  
			        "centralManager:didDiscoverPeripheral:advertisementData:RSSI:": didDiscoverPeripheral  
			    });  
			    manager.initWithDelegatequeue(delegate, null);  
			    output('>>3. 开始扫描蓝牙外设....<br>');  
			    manager.scanForPeripheralsWithServicesoptions(null, null);  
			}  
				
			function centralManagerDidUpdateState(central) {  
			    var state = central.plusGetAttribute('state');  
			    if (state == 4) {  
			        mui.alert('请开启蓝牙');  
			    }  
			    output(">>2. 中央外设管理器状态 state= " + state + '<br>');  
			}  
				
			//第三步：扫描完成，发现设备，添加到设备列表中  
			function didDiscoverPeripheral(central, peripheral, advertisementData, RSSI) {  
			    output('>>4. 发现蓝牙外设 didDiscoverPeripheral')  
			    output('<br>central=' + JSON.stringify(central));  
				
			    //为什么能发现，但获取不到蓝牙设备，以下三个值均返回 undefined  
			    output('<br>peripheral=' + JSON.stringify(peripheral));  
			    output('<br>advertisementData=' + JSON.stringify(advertisementData));  
			    output('<br>RSSI=' + JSON.stringify(RSSI));   
			    if ( !peripherals.containsObject(peripheral) ) {  
			        if ( !peripheral_delegate ) {  
			            var peripheral_delegate = plus.ios.implements("CBPeripheralDelegate", {  
			                "peripheral:didDiscoverServices::": peripheraldidDiscoverServices,  
			                "peripheral:didUpdateValueForCharacteristic:error:": peripheraldidDiscoverCharacteristicsForServiceerror,  
			                "peripheral:didWriteValueForCharacteristic:error:": peripheraldidWriteValueForCharacteristiccharacteristicerror,  
			            });  
			        }  
			        eripheral.setDelegate = peripheral_delegate;  
			        peripherals.addObject(peripheral);  
			    }  
			}  
				
			//第四步：连接蓝牙设备  
			function  connect(devName){  
			    if ( manager.state() == 5 ){  
			        var len = peripherals.count();  
			        for (var i = 0; i < len; i++) {  
			            var item = peripherals.objectAtIndex(i);  
			            if ( item.name() === devName ) {  
			                manager.connectPeripheraloptions(item, null);  
			                break;  
			            }  
			        }  
			    }  
			}  
				
			//第五步：连接成功，扫描蓝牙设备的服务  
			function centralManagerdidConnectPeripheral(central, peripheral) {  
			    peripheral.discoverServices(null);  
			}  
				
			//第六步：扫描到外设的所有服务后，筛选指定的服务，扫描该服务的特性  
			function peripheraldidDiscoverServices(peripheral, error) {  
			    var serUID =  CBUUID.UUIDWithString("");  
			    var services = peripheral.services();  
			    var len = services.count();  
			    for (var i = 0; i < len; i++) {  
			        var item = services.objectAtIndex(i);  
			         if ( item.UUID() === serUID ) {  
			             peripheral.discoverCharacteristicsforService(null, item);  
			             break;  
			         }  
			    }  
			}  
				
			//第七步：扫描到指定服务的特性后，筛选指定的特性，进行交互  
			function peripheraldidDiscoverCharacteristicsForServiceerror(peripheral, service, error) {  
			    var characteristics = peripheral.characteristics();  
			    var serUID =  CBUUID.UUIDWithString("");  
			    var len = characteristics.count();  
			    for (var i = 0; i < len; i++) {  
			        var characteristic = characteristics.objectAtIndex(i);  
			         if ( characteristic.UUID() === serUID ) {  
			            var data = null;  
			             peripheral.writeValueforCharacteristictype(data,characteristic,0);  
			         }  
			    }  
			}  
				
			function peripheraldidWriteValueForCharacteristiccharacteristicerror(peripheral, characteristic, error) {  
			    output(">>7. 打印完成 <br>");  
			}  
				
			function centralManagerdidDisconnectPeripheralperipheralerror(central, peripheral, error) {  
			    output(">>已断开连接 <br>");  
			}  
				
			function output(msg) {  
			    document.getElementById('result').innerHTML += msg + '<br>';  
			}  
				
			function clearResult() {  
			    document.getElementById('result').innerHTML = '';  
			}  
		}
	   	function create(){  
	       // 1.创建外设管理器  
	       manager = new CBCentralManager();  
	       peripherals = (new NSMutableArray()).init();  
	   	
	       var delegate = plus.ios.implements("CBCentralManagerDelegate", {  
	           "centralManagerDidUpdateState:": centralManagerDidUpdateState,  
	           "centralManager:didDiscoverPeripheral:advertisementData:RSSI:": didDiscoverPeripheral  
	       });  
	   	
	       output('>>1. 中央外设管理器 CBCentralManager 创建成功<br>');  
	   }  
	</script>
</html>  