<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>修改昵称</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover"/>
	<meta name="misapplication-tap-highlight" content="no"/>
	<meta name="HandheldFriendly" content="true"/>
	<meta name="MobileOptimized" content="320"/>
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" href="../css/mui.min.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="../css/common.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="../css/plus.css" type="text/css" />
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../plugins/layer/layer.js"></script>
    <script src="../js/fastclick.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/common.js"></script>   
    <style type="text/css">
		.logo{margin: 30px 0;}
		.mui-bar .mui-btn-link{color: #fff;}
		.yzc-ipnut{margin: 20px 20px 0;}
		.yzc-ipnut input{text-align: left;padding: 12px 15px;height: auto;font-size: 16px;}
		.input-desc{margin: 0 20px;}
		.btn-submit{margin: 30px 20px 30px;border-radius: 50px;background:linear-gradient(86deg,rgba(255,156,44,1),rgba(255,109,34,1));}
    </style>
</head>
<body style="background: #EBECEE;">
	<header class="header header-immersed mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    	<h1 class="mui-title">修改昵称</h1>
	</header>
	<div class="mui-main" style="background: #EBECEE;">
		<div class="logo">
			<img src="../img/logo_big.png" width="75" height="75"/>
		</div>
		<form id="modifyForm">
			<div class="mui-input-row yzc-ipnut">
		        <input type="text" name="nickname" class="mui-input-clear" placeholder="请输入你的新昵称">
		    </div>
	    	<p class="input-desc">仅支持中文、英文大小写、数字、减号及其组合。</p>
	    	<div class="btn-submit" id="saveBtn">
				<span>保存</span>
			</div>
		</form>	
	</div>
	<script type="text/javascript">
		mui.init();
		$("#saveBtn").click(function(){       
	        var nickname = $("input[name='nickname']").val();
	        if(!vaildeParam(nickname)){
	            layer.msg("新昵称不能为空");
	            return;
	        }
	        var data = {
	            "uuid":uuid,
	            "gender":'',
	            "nickname":nickname,
	            "homeAddress":''
	        }
	        postJSON(API_URL.ApiUpdateMemberInfo,data,function(res){
	        	layer.msg(res.msg);
	            if("0" == res.code){
	                setTimeout(function(){                    
						plusUtils.appPage.openerFire("changeName", {  
                            nickname: nickname  
                        });
                        mui.back();  
	                },1000);
	            }
	        });
	    })
	</script>
</body>
</html>