<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>商品详情</title>
	<link rel="stylesheet" href="../css/iconfont.css">
	<link rel="stylesheet" href="../css/common.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="../css/mui.min.css" type="text/css" charset="utf-8"/>
	<link rel="stylesheet" href="../plugins/layer/theme/default/layer.css" type="text/css" charset="utf-8"/>
	<script src="../js/jquery-3.3.1.min.js"></script>
	<script src="../js/mui.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../plugins/layer/layer.js"></script>
	<script src="../js/base.js"></script>
	<script src="../js/common.js"></script>
    <script src="../js/mui.min.js"></script>

	<style type="text/css">
        .productBox{padding-top:80px;}
        .mui-slider .mui-slider-group .mui-slider-item>a:not(.mui-control-item){text-align:center;}
        .mui-slider .mui-slider-group .mui-slider-item img{width:50%;}
        .prdect-title{margin:0 2rem;margin-top:20px;}
        .border-item{border-bottom:0.7px solid #EFEFF4;}
        .listItem .right{float:right;}
        .listItem .left{float:left;}
        .Item-clo1{font-size:16px;color:#999999;}
        .listItem{height:50px;line-height:40px;clear:both;}
        .pro-content{background-color:#EDEDED;text-align:center;height:40px;line-height:40px;}
        img{width:100%;}
        .pro-content-desc{padding-bottom:70px;}
	</style>
</head>
<body style="background: #fff;">
    <header class="header header-immersed mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    	<h1 class="mui-title">商品详情</h1>
	</header>
	<footer class="btn-submit mui-bar mui-bar-tab" id="confirmBtn">
		<span>兑换</span>
	</footer>
    <div class="productBox">
        <div class="data">
            <div class="mui-slider">
                <div class="mui-slider-group">                 
                    <div class="mui-slider-item"><a href="#"><img class="img_title" src="" /></a></div>
                </div>
            </div>
            <div class="prdect-title">
                <h4 class="tile-text"  ></h4>
                <div class="listItem Item-clo1">
                    <div class="left"> 京东价：￥<span class="jingdj"></span></div>
                    <div class="right">运费：￥<span class="yunfei"></span></div>
                    <div class="clearfix"></div>
                </div>

                <div class="listItem border-item">
                    <div class="left"> <i class="iconfont icon-zuanshi" style="color: #E4C133;"></i> <span id="yunzuang"></span>云钻 + <span id="duihuanyue"></span>元 </div>
                    <div class="right">运费：免运费</div>
                    <div class="clearfix"></div>
                </div>

                <div class="listItem Item-clo1">
                    云智充用户可兑，产品由京东负责配送。
                </div>
            </div>
            <div class="pro-content">
                —— 产品详情 ——
            </div>
            <div class="pro-content-desc"></div>
        </div>
        <div class="clearfix"></div>
    </div>
<script type="text/javascript">
    plusUtils.pageReady(function(){
		//获得slider插件对象
        var gallery = mui('.mui-slider');
        gallery.slider({
            interval:0//自动轮播周期，若为0则不自动播放，默认为0；
        });
        getProduct();
	});
    function getProduct(){
        var productId = plusUtils.Storage.getItem("productId");
        var dataParam = {
            "productId":productId
        }
        postJSON(API_URL.ApiProductGetProductById,dataParam,function(res){
            if("0" == res.code){
                if(null!=res.data){
                    var name = res.data.name;
                    var nameDesc = res.data.nameDesc;
                    var price = res.data.price;
                    var points = res.data.points;
                    var freight = res.data.freight;
                    var image = res.data.image;
                    var productDesc = res.data.productDesc;
                    var money = res.data.money;
                    $(".img_title").attr("src",image);
                    $(".mui-title").text(name);
                    $(".tile-text").text(nameDesc);
                    $(".jingdj").text(price);
                    $(".yunfei").text(freight);
                    $("#yunzuang").text(points);
                    $("#duihuanyue").text(money);
                    $(".pro-content-desc").append(productDesc);
                }
            }else{
                layer.msg(res.msg);
            }
        })
    }
	$("#confirmBtn").click(function(){
        getUserInfo();
    })
    /**
     * 获取用户信息
     */
    function getUserInfo(){
        if(vaildeParam(uuid)){
            postJSON(API_URL.ApiMemberInfo,{"uuid":uuid},function(res){
                if("0" == res.code){
                    var points = res.data.points;
                    var productPoints =  $("#yunzuang").text();
                    var totalMoney = res.data.totalMoney;
                    var duihuanyue =  $("#duihuanyue").text();
                    var points1 =   parseFloat(points);
                    var productPoints1 = parseFloat(productPoints);
                    var totalMoney1 =   parseFloat(totalMoney);
                    var duihuanyue1 =    parseFloat(duihuanyue);
                    if( (points1 > productPoints1) && (totalMoney1>duihuanyue1)  ){
                        openWebview("../page/mallAddress.html");
                    }else{
                        layer.msg("您的云钻或余额不足,无法兑换");
                        return;
                    }
                }else{
                    clearLogin();
                    openWebview("login.html");
                }
            })
        }
    }
</script>

</body>
</html>