<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover"/>
	<meta name="misapplication-tap-highlight" content="no"/>
	<meta name="HandheldFriendly" content="true"/>
	<meta name="MobileOptimized" content="320"/>
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" href="../css/mui.min.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="../css/common.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="../css/plus.css" type="text/css" />
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../plugins/layer/layer.js"></script>
    <script src="../js/fastclick.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/common.js"></script>   
    <style type="text/css">
		.logo{margin: 50px 0;}
		.login-form{margin:0 50px;}
		.form-group{position: relative;margin-bottom: 15px;}
		.form-group label{position: absolute;left: 0;top: 6px;}
		.form-group input{border-radius: 0;border: none;border-bottom: 1px solid #eae5e0;font-size: 18px;color: #333;padding-left: 30px;margin-bottom: 0;}
		.btn-code{display: inline-block;padding: 10px 15px;position: absolute;right: 0;top: 0;color: #333;font-size: 15px;}
		.btn-submit{margin: 50px 0 0;border-radius: 50px;background:linear-gradient(86deg,rgba(255,156,44,1),rgba(255,109,34,1));letter-spacing: 40px;text-indent: 40px;font-size: 18px;}
    	.footer{margin-top:50px;width: 100%;text-align: center;}
    	.footer .forgetpass{font-size: 15px;color: #666;padding: 10px 20px 10px 0;}
    	.footer span{font-size: 15px;color: #666;padding: 10px 10px 10px 20px;}
    	.footer .register{color: #FD8324;font-size: 16px;font-weight: bold;padding: 10px 20px 10px 0;}
    </style>
</head>
<body>
	<header class="header header-immersed mui-bar mui-bar-nav">
		<a class="mui-go-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    	<h1 class="mui-title">注册</h1>
	</header>
		
	<div class="mui-main">
		<div class="logo">
			<img src="../img/logo_big.png" width="75" height="75"/>
		</div>
		<form class="login-form">
			<div class="form-group">
				<label>
					<img src="../img/views/phone.png" width="15" height="18"/>
				</label>
				<input type="tel" name="mobile" placeholder="请输入手机号" maxlength="11"/>
			</div>
			<div class="form-group">
				<label>
					<img src="../img/views/password.png" width="15" height="18" />
				</label>			
				<input type="password" name="password" placeholder="请输入密码" />
			</div>
			<div class="form-group">
				<label>
					<img src="../img/views/code.png" width="15" height="18" />
				</label>			
				<input type="text" name="code" placeholder="请输入验证码" maxlength="8" />
				<span class="btn-code" id="codeBtn">获取验证码</span>
			</div>
			<div class="btn-submit" id="registerBtn">
				<span>注册</span>
			</div>
		</form>
		<div class="footer">
			<a class="forgetpass" onclick="openWebview('forgetpass.html',true)">忘记密码</a>|<span>已有账号?</span>
			<a class="register" onclick="openWebview('login.html',true,false)">登录</a>
		</div>
	</div>
	<script type="text/javascript">
		var isLock = false; //是否锁定
        var time = 60; //倒计时
        var timeInterval; //定时器
        var $CodeBtn = $(".btn-code");
        function showTime(){
            timeInterval = setInterval(function(){
                time--;
                if(time <= 0){
                    isLock = false;
                    time = 60;
                    clearInterval(timeInterval);
                    $CodeBtn.text('获取验证码');
                    return;
                }else{
                    $CodeBtn.text(time+"s");
                }
            },1000)
        }
        //获取验证码
        $('#codeBtn').on('click',function(){	
            var mobile = $("input[name='mobile']").val();
            if(!vaildeParam(mobile)){
                layer.msg("手机号不能为空");
                return;
            }
            if(!isPoneAvailable(mobile)){
                layer.msg("手机格式不正确");
                return;
            }
            if(isLock){
                return;
            }
            isLock = true;
            postJSON(API_URL.ApiSmsSendCode,{"mobile":mobile},function(res){
                if("0" == res.code){
                	$(this).text(time);
            		showTime();
                    layer.msg("发送成功");
                }else{
                    layer.msg(res.msg);
                }
            },true)
        });
        $('#registerBtn').on('click',function(){
            var mobile = $("input[name='mobile']").val();
            var userpass = $("input[name='password']").val();
            if(!vaildeParam(mobile)){
                layer.msg("手机号不能为空");
                return;
            }
            if(!isPoneAvailable(mobile)){
                layer.msg("手机格式不正确");
                return;
            }
            if(!vaildeParam(userpass)){
                layer.msg("密码不能为空");
                return;
            }
            if(userpass.length < 6){
                layer.msg("密码长度不少于6位");
                return;
            }
            var code= $("input[name='code']").val();
            if(!vaildeParam(code)){
                layer.msg("验证码不能为空");
                return;
            }       
            var clientInfo = plus.push.getClientInfo().clientid;
            var params = {
                "clientInfo":clientInfo,
                "mobile": mobile,
                "password":userpass,
                "code":code
            }
            goRegister(params);
        });
        //注册
        function goRegister(params){
            postJSON(API_URL.ApiMemberRegister,params,function(res){
                if("0" == res.code){
                    layer.msg("注册成功，正在跳转...");
                    setLoginData(res.data);
                    setTimeout(function(){
                        openWebview('../index.html');
                    },1500);
                }else{
                	clearInterval(timeInterval);
                	$CodeBtn.text('获取验证码');
                	isLock = false;
                    layer.msg(res.msg);
                }
            });
        }
		/**
		 * 校验手机号码
         * @param str
         * @returns {boolean}
         */
        function isPoneAvailable(str) {
            var myreg=/^[1][0-9]{10}$/;
            if (!myreg.test(str)) {
                return false;
            } else {
                return true;
            }
        }
	</script>
</body>
</html>