<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover"/>
		<meta name="HandheldFriendly" content="true"/>
		<meta name="MobileOptimized" content="320"/>
		<title>扫一扫</title>
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" href="../css/common.css" type="text/css" charset="utf-8"/>
		<script src="../js/jquery-3.3.1.min.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/fastclick.js"></script>
		<script src="../js/base.js"></script>
		<script src="../js/common.js"></script>
		<style type="text/css">
			.barcode{width:100%;position:absolute;top:0px;bottom:0;text-align:center;}
			.tip{color:#FFFFFF;font-weight:bold;}		
		</style>
		<script type="text/javascript">
			var ws = null,wo = null;
			var scan = null;
			var formpage = '',filters=[],styles={};
			if(window.plus){
				plusReady();
			}else{
				document.addEventListener('plusready', plusReady, false);
				document.addEventListener("error",function(e){
					console.log("请求的页面（"+e.href+"）无法打开");
				},false);
			}				
			// H5 plus事件处理
			function plusReady(){
				formpage = plusUtils.appPage.getParam("formpage");
				filters = [
					plus.barcode.QR,
					plus.barcode.EAN13,
					plus.barcode.EAN8,
					plus.barcode.AZTEC,
					plus.barcode.DATAMATRIX,
					plus.barcode.UPCA,
					plus.barcode.UPCE,
					plus.barcode.CODABAR,
					plus.barcode.CODE39,
					plus.barcode.CODE93,
					plus.barcode.CODE128
				];
				styles = {frameColor: "#F87C1A",scanbarColor: "#F87C1A"};
				// 获取窗口对象
				ws = plus.webview.currentWebview();
				wo = ws.opener();
				createSubview();
				//如果没有权限，则申请  	
				if (!checkPermission()) {  
					openCamera();
				} 
				openScan();		
			}			
			function openScan(){
				// 显示页面
				ws.show('slide-in-bottom');
				// 开始扫描
				ws.addEventListener('show', function(){					
					scan = new plus.barcode.Barcode('barcode',filters,styles);
					scan.onmarked = onmarked;
					scan.start({conserve: false});													
				}, false);							
			}
			// 二维码扫描成功
			function onmarked(type, result, file){
			    switch(type){
			    	case plus.barcode.QR:
			    		type = 'QR';
			    		break;
			    	case plus.barcode.EAN13:
			    		type = 'EAN13';
			    		break;
			    	case plus.barcode.EAN8:
			    		type = 'EAN8';
			    		break;
			    	case plus.barcode.AZTEC:
			    		type = 'AZTEC';
			    		break;
			    	case plus.barcode.DATAMATRIX:
			    		type = 'DATAMATRIX';
			    		break;
			    	case plus.barcode.UPCA:
			    		type = 'UPCA';
			    		break;
			    	case plus.barcode.UPCE:
			    		type = 'UPCE';
			    		break;
		    		case plus.barcode.CODABAR:
			    		type = 'CODABAR';
			    		break;
		    		case plus.barcode.CODE39:
			    		type = 'CODE39';
			    		break;
		    		case plus.barcode.CODE93:
			    		type = 'CODE93';
			    		break;
		    		case plus.barcode.CODE128:
			    		type = 'CODE128';
			    		break;
			    	default:
			    		type = '其它'+type;
			    	break;
			    }
			    result = result.replace(/\n/g, '');		
			    wo.evalJS("scaned('"+ type +"','"+ result +"','"+ file +"');");
				scan.close();
			    ws.close();
			}
			var subView = null;
			function createSubview(){
				subView = plus.webview.create("scanSub.html","scanSub",{  
					top:0,  
					bottom:0,  
					background: 'transparent'  
				},{
					formpage:formpage
				});  
				ws.append(subView);   
			}
			function checkPermission(){
				var CAMERA_P = plus.navigator.checkPermission("CAMERA");
				var IsUndeter = plusUtils.Storage.getItem('IsUndeter') || false;
				console.log(CAMERA_P)
				switch(CAMERA_P){
					case 'authorized':
						console.log('已开启拍照权限');
						return true;
						break;
					case 'denied':
						console.error('拍照失败，请确保是否开启拍照权限');
						return false;
						break;
					case 'undetermined':
						console.error('拍照失败，请确保是否开启拍照权限');
						if(mui.os.ios){
							return true;
						}else if(!IsUndeter && mui.os.android){
							plusUtils.Storage.setItem('IsUndeter','true');
							return true;
						}else{
							return false;
						}						
						break;
					case 'unknown':
						console.error('拍照失败，请确保是否开启拍照权限');
						return false;
						break;
					default:
						layer.msg('系统不支持相机权限');
						return false;
						break;
				}
			}			
			function openCamera(){
				var msg = "请在应用权限里设置允许使用相机权限";
				mui.alert(msg,"开启相机权限","去开启",function(){		
					if (mui.os.ios) {
						plus.runtime.openURL("app-settings:CAMERA");
					} else {
						var main = plus.android.runtimeMainActivity();
						var Intent = plus.android.importClass("android.content.Intent");
						var Build = plus.android.importClass("android.os.Build");
						var Uri = plus.android.importClass("android.net.Uri");
						var intent = new Intent();
						intent.addFlags(Intent.FLAG_ACTIVITY_NEW_TASK);
						if (Build.VERSION.SDK_INT >= 9) {//系统8.0以上的
							intent.setAction("android.settings.APPLICATION_DETAILS_SETTINGS");
							intent.setData(Uri.fromParts("package", main.getPackageName(), null));
						} else if (Build.VERSION.SDK_INT <= 8) {//系统8.0以下的
							intent.setAction(Intent.ACTION_VIEW);
							intent.setClassName("com.android.settings", "com.android.setting.InstalledAppDetails");
							intent.putExtra("com.android.settings.ApplicationPkgName", main.getPackageName());
						}
						main.startActivity(intent);
						plusUtils.appPage.closeAndBackUrl('selectChargeMethod.html');
					}
				})
			};
			var bFlash = false;
			//开启手电筒
			function switchFlash(){
				bFlash = !bFlash;
				scan.setFlash(bFlash);		
			}
		</script>
	</head>
	<body style="background-color: #000;">
		<div id="barcode" class="barcode">
			<div style="height:40%"></div>
			<p class="tip">载入中...</p>
		</div>
	</body>
</html>
