<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover"/>
		<meta name="HandheldFriendly" content="true"/>
		<meta name="MobileOptimized" content="320"/>
		<title>扫一扫</title>
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" href="../css/common.css" type="text/css" charset="utf-8"/>
		<script src="../js/jquery-3.3.1.min.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/fastclick.js"></script>
		<script src="../js/base.js"></script>
		<script src="../js/common.js"></script>
		<style type="text/css">
			#bcid{width:100%;position:absolute;top:0px;bottom:0;text-align:center;}
			.tip{color:#FFFFFF;font-weight:bold;}		
		</style>
		<script type="text/javascript">
			var ws = null,wo = null;
			var scan = null;
			var formpage = '',filters=[],styles={};
			if(window.plus){
				plusReady();
			}else{
				document.addEventListener('plusready', plusReady, false);
			}
			// H5 plus事件处理
			function plusReady(){
				formpage = plusUtils.appPage.getParam("formpage");
				filters = [plus.barcode.QR,plus.barcode.EAN13,plus.barcode.EAN8];
				styles = {frameColor: "#F87C1A",scanbarColor: "#F87C1A"};
				// 获取窗口对象
				ws = plus.webview.currentWebview();
				wo = ws.opener();
				createSubview();
				//如果没有权限，则申请  	
				if (!checkPermission()) {  
					openCamera();
				} 
				openScan();		
			}			
			function openScan(){
				try{
					// 开始扫描
					ws.addEventListener('show', function(){
						scan = new plus.barcode.Barcode('bcid',filters,styles);
					    scan.onmarked = onmarked;
					    scan.start({conserve: false});
					}, false);
					// 显示页面
					ws.show('slide-in-bottom');
				}catch(e){
					
				}							
			}
			// 二维码扫描成功
			function onmarked(type, result, file){
			    switch(type){
			    	case plus.barcode.QR:
			    	type = 'QR';
			    	break;
			    	case plus.barcode.EAN13:
			    	type = 'EAN13';
			    	break;
			    	case plus.barcode.EAN8:
			    	type = 'EAN8';
			    	break;
			    	default:
			    	type = '其它'+type;
			    	break;
			    }
			    result = result.replace(/\n/g, '');		
			    wo.evalJS("scaned('"+ type +"','"+ result +"','"+ file +"');");
				scan.close();
			    mui.back();
			}
			var subView = null;
			function createSubview(){
				subView = plus.webview.create("scanSub.html","scanSub",{  
					top:0,  
					bottom:0,  
					background: 'transparent'  
				},{
					formpage:formpage
				});  
				ws.append(subView);   
			}
			function checkPermission(){
				var CAMERA_P = plus.navigator.checkPermission("CAMERA");
				console.log(CAMERA_P)
				switch(CAMERA_P){
					case 'authorized':
						console.log('已开启拍照权限');
						return true;
						break;
					case 'denied':
						console.error('拍照失败，请确保是否开启拍照权限');
						return false;
						break;
					case 'undetermined':
						console.error('拍照失败，请确保是否开启拍照权限');
						return true;
						break;
					case 'unknown':
						console.error('拍照失败，请确保是否开启拍照权限');
						return false;
						break;
					default:
						layer.msg('系统不支持相机权限');
						return false;
						break;
				}
			}			
			function openCamera(){
				var msg = "开启相机权限才能扫描哟";
				mui.alert(msg,"开启相机权限","去开启",function(){		
					if (mui.os.ios) {
						plus.runtime.openURL("app-settings:CAMERA");
					} else {
						var packageName = "io.dcloud.yunzhichongbusiness";
						var Uri = plus.android.importClass("android.net.Uri");  
						var Settings = plus.android.importClass("android.provider.Settings");  
						var context = plus.android.runtimeMainActivity();  			
						var packageURI = Uri.parse("package:" + packageName);  
						var intent = plus.android.newObject("android.content.Intent", Settings.ACTION_SEARCH_SETTINGS, packageURI);  
						context.startActivity(intent); 
					}
				})
			};
			var bFlash = false;
			//开启手电筒
			function switchFlash(){
				bFlash = !bFlash;
				scan.setFlash(bFlash);		
			}
		</script>
	</head>
	<body style="background-color: #000000;">
		<div id="bcid">
			<div style="height:40%"></div>
			<p class="tip">...载入中...</p>
		</div>
	</body>
</html>
