<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>切换充电桩地址</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover"/>
	<meta name="misapplication-tap-highlight" content="no"/>
	<meta name="HandheldFriendly" content="true"/>
	<meta name="MobileOptimized" content="320"/>
	<link rel="stylesheet" href="../css/mui.min.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="../css/common.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="../css/plus.css" type="text/css" />
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../plugins/layer/layer.js"></script>
    <script src="../js/artTemplate.min.js"></script>
    <script src="../js/fastclick.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/common.js"></script>     
    <style type="text/css">
			.yzc-main{margin: 0 20px;}
			.yzc-search{margin: 20px auto 0px;}
			.yzc-search input{height: 40px;font-size: 15px;text-align: left;margin-bottom:5px;}
			.mui-search .mui-placeholder{line-height: 40px;font-size:15px;text-align: left;}
			.mui-search .mui-placeholder .mui-icon{margin:10px 5px 0 5px;float:left;color:#a0a0a0;}	
			.yzc-dw-text{border-bottom: 1px solid #C4C4C4;overflow: hidden;}
			.dw-title{padding: 10px 10px 10px 0;float: left;}
			.dw-relocation{float: right;font-size: 12px;color: #FF6D22;padding: 10px 10px;}
			.dw-relocation i{padding-right: 5px;vertical-align: -1px;}
			.near-cdz-title,.search-cdz-title{font-size: 15px;font-weight: 400;padding-top: 10px;color: #AFAFAF;}
			.mui-table-view:before,.mui-table-view:after{height: 0;}
			.list-cdz{list-style: none;padding: 10px 0;border-bottom: 1px solid #F0F0F0;color: #4D4D4D;}
			.list-cdz.active{color: #F97A1A;}
			.list-cdz em{color: #F97A1A;font-style: normal;}
			.icon-cdz{padding-right: 2px;}
			.icon-map{padding-right: 2px;}
    </style>
</head>
<body style="background: #fff;">
	<header class="header header-immersed mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    	<h1 class="mui-title">切换充电桩地址</h1>
	</header>
	<div class="mui-content" style="background: #fff;">
		<div class="yzc-main">
			<div class="search-box">
				<form id="searchForm">
					<div class="mui-input-row mui-search yzc-search">
						<i class="iconfont"></i>
						<input id="search" type="text" class="mui-input-clear" placeholder="请输入您要搜索的充电桩地址">
					</div>
				</form>		
			</div>
			<div class="search-content">
				<h2 class="search-cdz-title hide">相关充电桩地址</h2>
				<ul class="mui-table-view" id="searchList"></ul>
			</div>
			<div class="yzc-cdz">
				<div class="yzc-dw-text">
					<span class="dw-relocation"><i class="iconfont icon-dingwei"></i>重新定位</span>
					<span class="dw-title" onclick="selectChargingGroupAction(this)">定位中...</span>			
				</div>
				<div class="nearcdz-box">
					<h2 class="near-cdz-title"><i class="iconfont icon-cdz"></i>最近使用充电桩地址</h2>
					<ul class="mui-table-view cdzlist" id="lastList"></ul>
				</div>
				<div class="nearcdz-box">
					<h2 class="near-cdz-title"><i class="iconfont icon-map"></i>附近充电桩地址</h2>
					<ul class="mui-table-view cdzlist" id="itemList"></ul>
				</div>
			</div>
		</div>
	</div>
	<!--附近充电桩地址模板-->
	<script type="text/html" id="listTmpl" >	
		{{each list as item index}}
			{{if item.nameDisplay}}			
			<li class="list-cdz" data-id="{{item.code}}" onclick="selectChargingGroupAction(this)">{{#item.nameDisplay}}</li>
			{{else}}
			<li class="list-cdz" data-id="{{item.id}}" onclick="selectChargingGroupAction(this)">{{item.name}}</li>
			{{/if}}
		{{/each}}
	</script>

	<script type="text/javascript">
		var $addressTitle = $(".dw-title");
		var groupID   = null;	             //当前选择的片区
		var geolocationGroup = null;           //用户定位信息		
		var nearChargingGroupList = null;    //附近的片区		
		var lastUseChargingGroup = null;	 //最近使用的片区
		plusUtils.pageReady(function(){
			plusUtils.locate.getCurrentPosition();
			geolocationGroup = JSON.parse(plusUtils.Storage.getItem("geolocationGroup"));		
			if(mui.os.plus){
				plus.webview.currentWebview().setStyle({
					softinputMode: "adjustResize"
				});
			}
			getChargingGroupNearList();
		})	
		//获取定位地址
		$('.dw-relocation').on('tap',function(){
			$addressTitle.text("定位中...");
			plusUtils.locate.getCurrentPosition();
			getChargingGroupNearList();
		});		
		/**
		 * 获取附近的片区
		 */
		function getChargingGroupNearList() {
			if(!vaildeParam(geolocationGroup)) {
				layer.msg("定位失败,请手动输入充电桩地址!");
			}
			var param = {
				"uuid": uuid,
				"latitude": geolocationGroup ? geolocationGroup.latitude : '',
				"longitude": geolocationGroup ? geolocationGroup.longitude : '',
				"limit": 10
			}
			postJSON(API_URL.GetNearChargingGroup, param, function (res) {
				if("0" == res.code) {
					//附近的片区
					nearChargingGroupList = res.data.near;
					//上次使用的片区
					lastUseChargingGroup = res.data.recent;
					if(vaildeParam(lastUseChargingGroup)) {
						var data = {'list':lastUseChargingGroup};
						var Html = template('listTmpl', data);
						$('#lastList').html(Html);
					} else {
						$('#lastList').html('<p style="padding: 10px">暂无充电桩</p>');
					}
					if(vaildeParam(nearChargingGroupList) && geolocationGroup) {
						var data = {'list':nearChargingGroupList};
						var Html = template('listTmpl', data);
						$('#itemList').html(Html);
						var addresses = nearChargingGroupList[0].name;
						var id = nearChargingGroupList[0].id;
						$addressTitle.text(addresses);
						$addressTitle.attr("data-id",id);
					} else {
						$addressTitle.text("定位失败");
						$('#itemList').html('<p style="padding: 10px">暂无充电桩</p>');
					}				
				} else {
					layer.msg(res.msg);
				}
			});
		}	
		/**
		 * 选择片区
		 * @param that
		 */
		function selectChargingGroupAction(that) {
			var $this = $(that);
			$this.addClass('active');
			groupID = $this.attr("data-id");
			var address = $this.text();
			if(groupID){
				plusUtils.Storage.setItem("chargingGroupId",groupID);
				plusUtils.Storage.setItem("addresses",address);
				plusUtils.appPage.closeAndRefresh("selectChargeMethod.html");
			}			
		}
		$("#search").on("focus",function(){
			$(".yzc-cdz").hide();
		})
		$("#search").on("blur",function(){
			doSearch();
		})
		$("#search").on('input propertychange',throttle(function(){
			$(".yzc-cdz").hide();
            doSearch();
        }, 500));
		//搜索input监听
		document.getElementById("searchForm").onsubmit = function() {
			$("#search").blur();
			doSearch();
            //处理代码  
	        return false;  
	    }
		//搜索充电桩地址		
		var doSearch = function() {
			var keywords = document.getElementById("search").value;
			if(vaildeParam(keywords)){
				var params = {
					uuid:uuid,
					keywords:keywords,
					limit:20
				}
				postJSON(API_URL.SearchChargingGroup,params,function(res){
					if("0" == res.code){
						if(vaildeParam(res.data)) {
							var data = {'list':res.data};
							var Html = template('listTmpl', data);
							$('#searchList').html(Html);
							$('.search-cdz-title').removeClass('hide');
						} else {
							$('#searchList').html('<p style="padding: 10px">暂无数据</p>');
						}
					}else{
						layer.msg(res.msg);
					}
				});
				$(".search-content").show();
			}else{
				$(".yzc-cdz").show();
				$(".search-content").hide();
			}
		}
	</script>
</body>
</html>