<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>设置</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover"/>
	<meta name="misapplication-tap-highlight" content="no"/>
	<meta name="HandheldFriendly" content="true"/>
	<meta name="MobileOptimized" content="320"/>
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" href="../css/mui.min.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="../css/common.css" type="text/css" charset="utf-8"/>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../plugins/layer/layer.js"></script>
    <script src="../js/artTemplate.min.js"></script>
    <script src="../js/fastclick.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/common.js"></script>   
    <style type="text/css">
		.user-list{padding: 20px;border-bottom: 1px solid #eee;position: relative;}
		.list-laber{font-size: 16px;color: #333;margin: 0;}
    	.btn-submit{margin: 30px 20px 30px;border-radius: 50px;background:linear-gradient(86deg,rgba(255,156,44,1),rgba(255,109,34,1));}
		.navigate{position: absolute;right: 40px;top: 20px;font-size: 15px;color: #999;}
		.navigate.mui-navigate-right:after, .mui-push-right:after{right: -20px;}
	</style>
</head>
<body style="background: #F2F2F2;">
	<header class="header header-immersed mui-bar mui-bar-nav">
		<a class="mui-go-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    	<h1 class="mui-title">设置</h1>
	</header>
	
	<div class="mui-content" style="background: #fff;">
		<ul class="user-ul">
			<li class="user-list" onclick="openWebview('deliveryAddress.html')">
				<p class="list-laber">收货地址</p>
				<span class="mui-navigate-right"></span>
			</li>
			<li class="user-list" onclick="openWebview('edition.html')">
				<p class="list-laber">版本信息</p>
				<span class="mui-navigate-right"></span>
			</li>
			<li class="user-list" onclick="openWebview('about.html')">
				<p class="list-laber">关于我们</p>
				<span class="mui-navigate-right"></span>
			</li>
			<li class="user-list" onclick="openWebview('faultRepair.html',true)">
				<p class="list-laber">故障报修</p>
				<span class="mui-navigate-right"></span>
			</li>
			<li class="user-list" onclick="openWebview('feedback.html',true)">
				<p class="list-laber">意见反馈</p>
				<span class="mui-navigate-right"></span>
			</li>
			<li class="user-list" onclick="switchEnv()">
				<p class="list-laber">环境切换</p>
				<span class="navigate mui-navigate-right"></span>
			</li>
		</ul>
	</div>
	<div class="btn-submit" onclick="loginOut()">
		<span>退出登录</span>
	</div>
	<script type="text/javascript">
		mui.init();
		plusUtils.pageReady(function(){
			var env = localStorage.getItem("env") || "prod";	
			switch (env) {
			    case "prod":
			        $('.navigate').text('正式环境prod');
			        break;
			    case "dev":
			        $('.navigate').text('开发环境dev');
			        break;
				case "test":
				    $('.navigate').text('本地环境test');
				    break;
			    default:
			}
		})
		function switchEnv(){
			var actionList = {title:'操作',cancel:"取消",buttons:[{title:"正式环境prod"},{title:"开发环境dev"},{title:"本地环境test"}]};   
			//弹出actionSheet选项  
			plus.nativeUI.actionSheet(actionList,function(e){
				if(e.index == 1){ 						
					localStorage.setItem("env","prod");			
				}else if(e.index == 2){
					localStorage.setItem("env","dev");
				}else if(e.index == 3){
					localStorage.setItem("env","test");				
				}else{
					return false;
				}
				layer.msg("正在环境切换")
				setTimeout(function(){
					plus.runtime.restart();
				},1000)
			});
		}
	</script>
</body>
</html>